<address>
    <div class="row">
      <div
        class="col-12 text-left">
        <p class="display-4">
          Frank Lobe
        </p>
        <p class="lead">
          Senior Application Developer & Architect<br />
        </p>
        <p class="lead">
          Creative technology solutions to complex business problems
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row mb-3">
          <div
            class="font-weight-bold col-12 text-left">
            <i class="bi bi-telephone m-2"></i>+1 (647) 220-5623
          </div>
        </div>
        <div class="row">
          <div
            class="font-weight-bold col-12 text-left">
            <i class="bi bi-envelope m-2"></i>frank.lobe@gmail.com
          </div>
        </div>
      </div>
    </div>
  </address>