<nav class="navbar bg-dark navbar-dark margin-top mb-4">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <nav>
        <ul class="navbar-nav p-2">
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/home" routerLinkActive="active"><i class="bi bi-house"></i> Home</a>
          </li>
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/skill" routerLinkActive="active"><i class="bi bi-laptop"></i> Skill</a>
          </li>
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/employment" routerLinkActive="active"><i class="bi bi-bank"></i>
              Employment</a>
          </li>
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/experience" routerLinkActive="active"><i class="bi bi-pc-display-horizontal"></i>
              Experience</a>
          </li>
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/certification" routerLinkActive="active"><i class="bi bi-award-fill"></i>
              Certification</a>
          </li>
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/education" routerLinkActive="active"><i class="bi bi-book"></i>
              Education</a>
          </li>
          <li class="nav-item pr-4">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active"><i class="bi bi-envelope "></i>
              Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </nav>